/paraview-output
/Submissions/Part2Submission/Section1/TimeStep2/TimeStepTest_EnergyError
/Submissions/Part2Submission/Section1/TimeStep2/TimeStepTest_FinalEnergy
/Submissions/Part2Submission/Section1/TimeStep2/TimeStepTest
/Submissions/Part2Submission/Section1/Step-0_OriginalRunTime/ScalingTest
/Part2HamiltonTest/Section1/Step0Improvements/ScalingTest
/Part2HamiltonTest/Section1/Step-0_OriginalRunTime/ScalingTest
/Part2HamiltonTest/Section1/TimeStep2/TimeStepTest
/Part2HamiltonTest/Section3_BarnsHut/ScalingTest
/Submissions/Part2Submission/Section2_Backup
/Submissions/Part2Submission/Section1_Backup
/Submissions/Part2Submission/Section1/TimeStep2/TimeStepTest_keep2
/Submissions/Part2Submission/Section1/TimeStep2/TimeStepTest_keep